body {
  background-color: #d9d9d9;
  font-family: "Oxanium", "sans-serif";
  color: #fff;
}

/*------------------header--------------------*/
.header-background {
  background-image: url("/assets/Airobotics/aiheader.png");
}

.navbar {
  background-color: rgba(116, 148, 167, 0.83);
}

/*------------------main--------------------*/

.exhibitions-text-wrapper {
  background-color: #99b0c3;
}

.button-exhibitions {
  background-color: #99b0c3;
}

.ai-astronaut {
  margin-bottom: 5rem;
}

footer {
  background-color: #99b0c3;
}
