@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

/*---------------------header-------------------------------*/

.header-background {
  background-size: cover;
  background-position: center;
  min-height: 50rem;
  background-color: black;
  color: #fff;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.csm-logo {
  display: flex;
  min-width: 184px;
  min-height: 184px;
  flex-wrap: wrap;
}

.logo-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar, .navbar-home {
  padding: 2rem;
  justify-content: center;
  position: sticky;
  margin-bottom: -10.3rem;
}

.nav-links-wrapper {
  display: flex;
}

.nav-link {
  padding: 0.5rem;
  color: #fff;
  font-family: "oxanium";
  font-size: 1.5rem;
  margin: auto;
  text-decoration: none;
  font-weight: 700;

}

.nav-link:hover, .cosmology-link:hover, .evolution-link:hover, .footer-link:hover, .rocket-push:hover, .button-exhibitions:hover {
  text-decoration: underline;
  transform: scale(1.05);
}

.hover-effect img:hover{
  transform: scale(1.02);
}

.hover-effect img{
  transition: transform 0.3s ease;
}



/*-----------------------commmon main---------------------*/
.heading-one {
  color: #fff;
  display: flex;
  text-align: center;
  justify-content: center;
  text-align: center;
  font-family: Oxanium;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 2rem;
  padding: 3rem;
}

/*---------------------exhibitions-------------------------------*/

.exhibitions-box {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  margin-top: 4rem;
  flex-wrap: wrap;
  padding: 2rem;
}

.exhibitions-h1 {
  padding-bottom: 1rem;
}
.exhibitions-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.exhibitions-text-wrapper {
  border-radius: 10px;
  padding: 2rem;
  max-width: 450px;
}

.exhibitions-bubble {
  max-width: 100%;
  padding: 2rem;
}

.exhibitions-img {
  max-width: 100%;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.exhibitions-p {
  font-family: "Overpass Mono";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.button-exhibitions {
  color: #fff;
  border-radius: 30px;
  padding: 2rem;
  text-align: center;
  font-family: Oxanium;
  font-size: 26px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-decoration-line: underline;
  margin-bottom: 6rem;
  margin-top: 4rem;
}

/*---------------------footer-------------------------------*/

.footer-layout {
  width: auto;
  padding-top: 4rem;
  font-family: "Oxanium", "Sans serif";
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  line-height: normal;
  text-align: center;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 2rem;
}
.footer-link {
  color: #fff;
  text-decoration: none;
}

.links-footer-wrapper-top {
  display: grid;
  grid-column-start: 3;
}

.center {
  justify-self: center;
  align-self: center;
}
.rocket-icon {
  display: grid;
  grid-column-start: 2;
}

.rocket-push {
  grid-column-start: 2;
  color: #fff;
  text-decoration: none;
}

.connect-text {
  text-align: center;
  font-family: Oxanium;
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  align-self: end;
}

.links-footer-wrapper-bottom {
  display: flex;
  flex-direction: column;
}

.social-icons-wrapper {
  grid-column-start: 3;
  grid-row-start: 3;
  flex-direction: row;
  display: flex;
  justify-content: center;
  
}

.icons-footer {
  padding: 5px;
}

.no-underline {
  text-decoration: none;
}

.all-rights-wrapper {
  grid-column-start: 3;
  grid-row-start: 4;
  align-self: end;
}

.rights-text {
  font-family: "Oxaniumm" sans-serif;
  font-size: 1rem;
}
/*---------------------mediaq-------------------------------*/
@media (max-width: 1100px) {
  /*---------------------exhibitions-------------------------------*/
  .exhibitions-wrapper {
    justify-content: center;
  }

  /*---------------------footer-------------------------------*/
  .footer-layout {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 4rem;
  }

  .science-icon, .hover-effect {
    grid-column-start: 2;
    grid-row-start: 1;
  }

  .rocket-icon {
    grid-column-start: 2;
    grid-row-start: 5;
  }
  .rocket-push {
    grid-column-start: 2;
    grid-row-start: 6;
  }

  .links-footer-wrapper-top {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .links-footer-wrapper-bottom {
    grid-column-start: 2;
    grid-row-start: 4;
    gap: 1.5rem;
  }

  .connect-text {
    grid-column-start: 2;
    grid-row-start: 3;
    align-self: flex-start;
  }

  .social-icons-wrapper {
    grid-column-start: 2;
    grid-row-start: 3;
    align-self: flex-end;
  }

  .all-rights-wrapper {
    grid-column-start: 2;
    grid-row-start: 7;
    align-self: flex-end;
  }
}

@media (max-width: 740px) {
  /*---------------------header-------------------------------*/
  .header-background {
    min-height: 40rem;
  }

  .navbar {
    justify-content: center;
    margin-bottom: -7.1rem;
  }

  .nav-link {
    font-size: 1.3rem;
  }

  .nav-links-wrapper {
    flex-wrap: wrap;
  }

  .button-exhibitions {
    font-size: 20px;
  }

  /*---------------------exhibitions-------------------------------*/
  .heading-one {
    font-size: 1.2rem;
  }
  .exhibitions-h1 {
    font-size: 20px;
  }

  .exhibitions-p {
    font-size: 18px;
  }

  /*---------------------footer-------------------------------*/
  .footer-layout {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 4rem;
  }
  .science-icon {
    grid-column-start: 2;
    grid-row-start: 1;
  }

  .rocket-icon {
    grid-column-start: 2;
    grid-row-start: 6;
  }
  .rocket-push {
    grid-column-start: 2;
    grid-row-start: 7;
  }

  .links-footer-wrapper-top {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .links-footer-wrapper-bottom {
    grid-column-start: 2;
    grid-row-start: 5;
    gap: 1.5rem;
  }

  .connect-text {
    grid-column-start: 2;
    grid-row-start: 3;
    align-self: center;
  }

  .social-icons-wrapper {
    grid-column-start: 2;
    grid-row-start: 4;
    align-self: flex-start;
  }

  .all-rights-wrapper {
    grid-column-start: 2;
    grid-row-start: 7;
    align-self: flex-end;
  }
}

@media (max-width: 672px) {
  .navbar {
    margin-bottom: -6.1rem;
  }
}



@media (max-width: 554px) {
  .navbar {
    margin-bottom: -6.3rem;
  }
}


@media (max-width: 409px) {
  .navbar {
    margin-bottom: -5.3rem;
  }
}

@media (max-width: 352px) {
  .navbar {
    margin-bottom: -4.4rem;
  }
}

@media (max-width: 360px) {
  .navbar {
    margin-bottom: -4.4rem;
  }
}