body {
  background-color: #d9d9d9;
  font-family: "Oxanium", "sans-serif";
  color: #fff;
}

/*------------------header--------------------*/
.header-background {
  background-image: url("/Assets/evolution/evolutionheader.png");
}

.navbar {
  background-color: rgba(57, 84, 102, 0.73);
}

/*------------------main--------------------*/

.exhibitions-text-wrapper {
  background-color: #395466;
}

.button-exhibitions {
  background-color: #395466;
}

footer {
  background-color: #395466;
}
