body {
  background-color: #d9d9d9;
  font-family: "Oxanium", "sans-serif";
}
/*------------------header--------------------*/
.header-background {
  background-image: url("../Assets/exhibitions/exhibitionsheader.png");
}

.navbar {
  background-color: rgba(118, 86, 41, 0.78);
}

.heading-one {
  background-color: rgba(118, 86, 41, 0.78);
}

.exhibitions {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  margin-bottom: 6rem;
  flex-wrap: wrap;
  row-gap: 4rem;
}

.ecology-evolution-wrapper,
.biology-cosmology-wrapper {
  display: flex;
  flex-direction: row;
  margin: auto;
  flex-wrap: wrap;
}

.exhib-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.exhib-links {
  color: #9b886b;
  font-family: Oxanium;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  padding-top: 1rem;
}

footer {
  background-color: rgba(118, 86, 41, 0.78);
}

@media (max-width: 814px) {
  .ecology-evolution-wrapper, .biology-cosmology-wrapper{
   justify-content: center;
   
  


  }

  img {
    max-width: 100%;
  }
}
 