body {
  background-color: #ecc6a7;
  font-family: "Oxanium", "sans-serif";
}

/*------------------header--------------------*/
.header-background {
  background-image: url("../assets/Indexphotos/indexheader-min.png");
}

.navbar-home {
  background-color: rgba(252, 149, 32, 0.7);
}

/*------------------main--------------------*/

.index-page-content {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 2rem;
}

.special-events-banner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #f7a448;
  margin: auto;
  padding: 2rem;
}

.special-events-image {
  flex-wrap: wrap;
  max-width: 100%;
  padding: 1rem;
  max-height: 514px;
}

.special-events-text {
  padding: 1rem;
  color: #fff;
  max-width: 600px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 1.4rem;
}

.bold {
  font-weight: 700;
  font-size: 1.6rem;
}

.special-events-banner-text {
  display: flex;
  flex-direction: column;
}

.index-link-wrapper {
  display: flex;
  justify-content: end;
}

.heading-one {
  display: flex;
  background-color: #f7a448;
  color: #fff;
  padding: 2rem;
  margin: auto;
  justify-content: center;
  font-size: 2rem;
}

.index-image-text-wrapper-1 {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.index-text {
  display: flex;
  color: #fff;
  font-family: "Overpass Mono";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #f7a448;
  border-radius: 10px;
  max-width: 764px;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

.index-image-1 {
  padding-left: 2rem;
  max-width: 100%;
}

.index-image-text-wrapper-2 {
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cosmology-link,
.evolution-link {
  display: flex;
  background-size: auto;
  color: #fff;
  font-family: "Overpass mono";
  font-size: 2rem;
  background-color: #f7a448;
  padding: 1rem;
  border-radius: 10px;
}

.index-text-wrapper,
.index-text-wrapper-2 {
  display: flex;
}

.index-image-2 {
  max-width: 100%;
}

.index-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.text-3 {
  display: flex;
  max-width: 73.3rem;
  margin-bottom: 2rem;
}

.index-image-3 {
  margin-bottom: 2rem;
  max-width: 100%;
}

.index-icons {
  max-width: 100%;
  height: auto;
}
.icons-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 6rem;
  margin-top: 6rem;
}

.show-on-mobile {
  display: none;
}
/*----------------------------------------footer-------------------------------*/

footer {
  background-color: #f7a448;
}

@media (max-width: 1246px) {
  .hide-on-mobile {
    display: none;
  }

  .show-on-mobile {
    display: flex;
    border-radius: 10px;
    max-width: 100%;
  }

  .index-text-image-wrapper {
    margin-bottom: 2rem;
  }

  .index-1 {
    margin-bottom: 2rem;
    max-width: 1172px;
  }

  .index-icons {
    max-width: 30%;
    height: auto;
  }
}

@media (max-width: 740px) {
  .navbar-home {
    margin-bottom: -7.1rem;
  }
}

@media (max-width: 612px) {
  .navbar-home {
    margin-bottom: -6.2rem;
  }
  .special-events-text {
    padding: 1rem;
    color: #fff;
    max-width: 600px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 1.3rem;
  }

  .bold {
    font-weight: 700;
    font-size: 1.5rem;
  }
}

@media (max-width: 360px) {
  .navbar-home {
    margin-bottom: -5.3rem;
  }
}

@media (max-width: 332px) {
  .navbar-home {
    margin-bottom: -4.4rem;
  }
}
