body {
    background-color: #D9D9D9;
    font-family: "Oxanium", "sans-serif";
  }
/*------------------header--------------------*/
.header-background {
    background-image: url("Assets/Exhibitions/exhibitionsheader.png");
  }
  
  .navbar {
    background-color: rgba(118, 86, 41, 0.78);
  }















































footer {
    background-color:  rgba(118, 86, 41, 0.78);
   
  }