body {
  background-color: #ecc6a7;
  font-family: "Oxanium", "sans-serif";
}

.header-background {
  background-image: url("Assets/Indexphotos/indexheader-min.png");
  background-size: cover;
  background-position: center;
  min-height: 50rem;
  background-color: black;
  color: #fff;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.csm-logo {
  display: flex;
  min-width: 184px;
  min-height: 184px;
  flex-wrap: wrap;
}

.logo-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar {
  padding: 2rem;
  background-color: rgba(252, 149, 32, 0.7);
  justify-content: center;
  position: relative, sticky;
  margin-bottom: -10.3rem;
}

.nav-links-wrapper {
  display: flex;
}

.nav-link {
  padding: 0.5rem;
  color: #fff;
  font-family: "oxanium";
  font-size: 1.5rem;
  margin: auto;
}
/*------------------main--------------------*/

.index-page-content {
 display: flex;
 flex-direction: column;
 margin: auto;
}

.special-events-banner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #f7a448;
  margin: auto;
  padding: 2rem;
}

.special-events-image {
  flex-wrap: wrap;
  padding: 1rem;
}

.special-events-text {
  padding: 1rem;
  color: #fff;
  max-width: 600px;
}

.special-events-banner-text {
  display: flex;
  flex-direction: column;>
 
}

.heading-one {
  display: flex;
  background-color: #f7a448;
  color: #fff;
  padding: 2rem;
  margin: auto;
  justify-content: center;
  font-size: 2rem;
}

.index-image-text-wrapper-1 {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.index-text {
  display: flex;
  color: #fff;
  font-family: "Overpass Mono";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #f7a448;
  border-radius: 10px;
  max-width: 764px;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

.index-image-1 {
  padding-left: 2rem;
}

.index-image-text-wrapper-2 {
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cosmology-link, .evolution-link {
  display: flex;
  background-size: auto;
  color: #fff;
  font-family: "Overpass mono";
  font-size: 2rem;
  background-color: #f7a448;
  padding: 1rem;
  border-radius: 10px;
 

}

.index-text-wrapper {
  display: flex;
  
}

.index-image-2 {
  max-width: 1176px;
}

.index-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

  
}

.text-3 {
  display: flex;
  max-width: 73.3rem;
  margin-bottom: 2rem;
 
}

.index-image-3 {
  margin-bottom: 2rem;
  align-self: auto;
}

.index-icons {
  max-width: 100%;
}
.icons-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 5rem;
  margin-bottom: 5rem;
  
}

footer {
background-color: #f7a448;
width: auto;
padding-top: 4rem;
font-family: "Oxanium", "Sans serif";
font-weight: 600;
font-size: 24px;
color: #fff;
line-height: normal;
text-decoration: underline;
text-align: center;
display: grid;
grid-template-columns: 0.5fr repeat(3, 1fr) 0.5fr;
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 5px;
grid-row-gap: 5px;
}

.footer-link {
  color: #fff;
 
}

.links-footer-wrapper-top {
  display: grid;
  grid-column-start: 3;
}

